bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/CSharpChatReceiver/DesignTimeBuild/.dtbcache.v2
/.vs/CSharpChatReceiver/v17/.futdcache.v2
/.idea/.idea.CSharpChatReceiver/.idea/.gitignore
/.vs/CSharpChatReceiver/v17/.suo
/.vs/CSharpChatReceiver/FileContentIndex/4ca34725-5c4d-415b-893d-1d253b6258e9.vsidx
/.vs/CSharpChatReceiver/FileContentIndex/045df06a-8894-4199-92c8-3a825c9953e8.vsidx
/.vs/CSharpChatReceiver/FileContentIndex/bacf6b2a-edad-4380-b0cf-cc0956afe8f7.vsidx
/.vs/ProjectEvaluation/csharpchatreceiver.metadata.v9.bin
/.vs/ProjectEvaluation/csharpchatreceiver.projects.v9.bin
/CSharpChatReceiver.sln.DotSettings.user
/.vs/ProjectEvaluation/csharpchatreceiver.strings.v9.bin
/.vs/CSharpChatReceiver/v17/DocumentLayout.backup.json
/.vs/CSharpChatReceiver/v17/DocumentLayout.json
/.idea/.idea.CSharpChatReceiver/.idea/encodings.xml
/.idea/.idea.CSharpChatReceiver/.idea/indexLayout.xml
/.idea/.idea.CSharpChatReceiver/.idea/vcs.xml
